<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitTest-GitHub.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34F7DCFD1D17D4460092AE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34F7DD161D17D4460092AE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34F7DD211D17D4460092AE05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
